.main[b-y78gkjurdb] {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    height: 600px;
     background-image: url("images/login4.png");
    /*background-color: rgba(99, 169, 202, 1);
    background-image: radial-gradient(circle, rgba(99, 169, 202, 1) 0%, rgba(242, 245, 247, 1) 100%);*/
    /*    background-image: radial-gradient( #fff1eb 0%, #ace0f9 100%);*/
    /* background-image: url("images/login.png");*/
    /*background-color: #afe0eba7;*/
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówek formularza */
#login h2[b-y78gkjurdb] {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Stylizacja etykiet */
/*label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
    display: block;
}*/

/* Stylizacja pól edycyjnych */
/*.form-group {
    margin-bottom: 20px;
}


.form-group {
    background-color: pink;
}


.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #5cb85c;*/ /* Zielony kolor, jeśli chcesz bardziej dopasować do swojej estetyki */
    /*outline: none;
}*/

/* Stylizacja przycisku */
button.btn[b-y78gkjurdb] {
    width: 100%;
    padding: 14px;
    background: linear-gradient(45deg, #41c4ee, #90c7ef);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button.btn:hover[b-y78gkjurdb] {
        background: linear-gradient(45deg, #183d5d, #336a9a);
    }

/*.validation-errors {
    background-color: red !important;
    color: white !important;
}*/



