@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #e6f7fb;
    display: flex;
    flex-direction: column;
}



.circle, .ring {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.6;
}


.circle {
    background-color: #1c3757;
}


.ring {
    border: 10px solid #1c3757;
    background: transparent;
}


.circle.circle-1 {
    width: 150px;
    height: 150px;
    left: -6%;
    top: 30%;
}

.circle.circle-2 {
    background-color: #46ACC2;
    width: 150px;
    height: 150px;
    right: -2%;
    top: 22%;
}

.circle.circle-3 {
    background-color: #1c3757;
    opacity: 0.;
    width: 200px;
    height: 200px;
    left: 0%;
    bottom: 8%;
}

.ring.ring-1 {
    width: 100px;
    height: 100px;
    right: 5%;
    top: 5%;
}

.ring.ring-2 {
    width: 180px;
    height: 180px;
    left: 5%;
    bottom: 15%;
}

.ring.ring-3 {
    border: 10px solid #3f6f7a;
    width: 150px;
    height: 150px;
    right: -10%;
    top: 80%;
}


.container {
    flex-grow: 1;
    width: 100vw;
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.decorative-bar {
    background-color: #46ACC2;
    height: 20px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e6f7fb;
    flex-grow: 1;
    height: calc(100vh - 60px); /* Odejmij wysokość nagłówka i stopki */
}


.header {
    background-color: #1e3a59;
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 25px;
    position: relative;
    border-radius: 10px 10px 0 0;
    width: 100%;
    line-height: 1.2;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
}


.calendar-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.month {
    background-color: #1e3a59;
    color: white;
    text-align: center;
    padding: 15px 0;
}

    .month ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .month ul li {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

    .month .prev,
    .month .next {
        font-size: 40px;
        font-weight: 600;
        color: #1e3a59;
        background-color: #f2f2f2;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

        .month .prev:hover,
        .month .next:hover {
            background-color: #1e3a59;
            color: #ffffff;
        }

        .month .prev:active,
        .month .next:active {
            background-color: #004a7c;
            border-color: #004a7c;
        }


.calendar td:nth-child(6) {
    background-color: #e6f7fb;
    font-weight: bold;
}

.calendar td:nth-child(7) {
    background-color: #e6f7fb;
    font-weight: bold;
}


    .calendar td:nth-child(6):hover,
    .calendar td:nth-child(7):hover {
        background-color: #b0e0e6;
        cursor: pointer;
    }


table.calendar {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #046b83;
}

th {
    background-color: #46ACC2;
    color: white;
    font-weight: 600;
}

td {
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
}

    td:hover {
        background-color: #f1f1f1;
    }


.month .prev, .month .next {
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.month .prev {
    left: 10px;
}

.month .next {
    right: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: #dff6fa;
    width: 100%;
}

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 18px;
        background-color: #356781;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .nav-links a:hover {
            background-color: #1e3a59;
            transform: translateY(-3px);
        }

.footer {
    background-color: #46ACC2;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.hero-image {
    max-width: 10000px; /* Zwiększenie rozmiaru obrazka */
    width: 100%;
    position: relative;
    left: 0; /* Ustawienie po lewej stronie */
}


@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .welcome-text, .hero-image {
        width: 100%;
    }

    /* .hero-image {
        max-width: 100%;
    }*/

    table.calendar {
        width: 100%;
        max-width: 100%;
    }
}
