@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    position: relative;
}

body {
    background-color: #e6f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}




/*// logowanie */


.validation-errors {
    list-style: none;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

    .validation-errors li {
        margin-bottom: 5px;
    }



label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
    display: block;
}


.form-group {
    margin-bottom: 20px;
}



.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

    .form-control:focus {
        border-color: #5cb85c; 
        outline: none;
    }


.login-image {
    display: block;
    margin: 0 auto 20px auto; 
    width: 25%;
    max-width: 200px; 
    height: auto;
}







/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}*/
/*body {
    background-color: #e6f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}*/
.calendar-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

/*.month {
    background-color: #1e3a59;
    color: white;
    text-align: center;
    padding: 15px 0;
}*/

.month {
    position: relative; 
    background-color: #1e3a59;
    color: white;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .month ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .month ul li {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
/*
    .month .prev,
    .month .next {
        font-size: 40px;
        font-weight: 600;
        color: #1e3a59;
        background-color: #f2f2f2;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }*/

    /* Poprawione przyciski */
   /* .month .prev, .month .next {
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #004a7c;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }*/


    .month .prev,
    .month .next {
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #004a7c;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        position: absolute;
        top: 50%; /* Przesuwa na środek wysokości tabeli */
        transform: translateY(-50%);
        z-index: 10;/* Zapewnia, że przyciski nie są przykryte */
    }

        .month .prev:hover,
        .month .next:hover {
            background-color: #1e3a59;
            color: #ffffff;
        }

        .month .prev:active,
        .month .next:active {
            background-color: #004a7c;
            border-color: #004a7c;
        }

/*
    .month .prev, .month .next {
        font-size: 20px;
        cursor: pointer;
        padding-top: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }*/

    .month .prev {
        left: 15px;
    }

    .month .next {
        right: 15px;
    }


.calendar td:nth-child(6) {
    background-color: #e6f7fb;
    font-weight: bold;
}

.calendar td:nth-child(7) {
    background-color: #e6f7fb;
    font-weight: bold;
}


    .calendar td:nth-child(6):hover,
    .calendar td:nth-child(7):hover {
        background-color: #b0e0e6;
        cursor: pointer;
    }


table.calendar {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #046b83;
}

th {
    background-color: #46ACC2;
    color: white;
    font-weight: 600;
}

td {
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
}

    td:hover {
        background-color: #f1f1f1;
    }


.hero-image {
    max-width: 10000px; /* Zwiększenie rozmiaru obrazka */
    width: 100%;
    position: relative;
    left: 0; /* Ustawienie po lewej stronie */
}


