@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.calendar-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.month {
    background-color: #1e3a59;
    color: white;
    text-align: center;
    padding: 15px 0;
}

    .month ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .month ul li {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

    .month .prev,
    .month .next {
        font-size: 40px;
        font-weight: 600;
        color: #1e3a59;
        background-color: #f2f2f2;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

        .month .prev:hover,
        .month .next:hover {
            background-color: #1e3a59;
            color: #ffffff;
        }

        .month .prev:active,
        .month .next:active {
            background-color: #004a7c;
            border-color: #004a7c;
        }


.calendar td:nth-child(6) {
    background-color: #e6f7fb;
    font-weight: bold;
}

.calendar td:nth-child(7) {
    background-color: #e6f7fb;
    font-weight: bold;
}


    .calendar td:nth-child(6):hover,
    .calendar td:nth-child(7):hover {
        background-color: #b0e0e6;
        cursor: pointer;
    }


table.calendar {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #046b83;
}

th {
    background-color: #46ACC2;
    color: white;
    font-weight: 600;
}

td {
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
}

    td:hover {
        background-color: #f1f1f1;
    }


.month .prev, .month .next {
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.month .prev {
    left: 10px;
}

.month .next {
    right: 10px;
}

.hero-image {
    max-width: 10000px; /* Zwiększenie rozmiaru obrazka */
    width: 100%;
    position: relative;
    left: 0; /* Ustawienie po lewej stronie */
}


