@page "/employees"
@namespace ZarzadzanieUrlopami.Pages
@layout MainLayout


    <div class="main">
            <div id="employees" class="section">
                <h2>Pracownicy</h2>
                <p>Lista pracowników.</p>
            </div>
    </div>


