@page "/"
@namespace ZarzadzanieUrlopami.Pages
@layout MainLayout


    <div class="main">
        <div class="section active" id="home">
            <h2>Witamy w systemie zarządzania urlopami!</h2>
            <p>Nasza aplikacja ułatwia planowanie i zarządzanie urlopami w naszej przychodni.</p>
            <p>Sprawdź grafik, zarządzaj wnioskami o urlop i miej pełną kontrolę nad swoim czasem wolnym.</p>
            <div class="hero-section">
                <img src="images/dentist.png" alt="Hero Image" class="hero-image">
            </div>
        </div>
    </div>

 
