@page "/leave"
@namespace ZarzadzanieUrlopami.Pages
@layout MainLayout


    <div class="main">
         <div id="leave" class="section">
                <h2>Podanie o urlop</h2>
                <p>Formularz składania wniosku o urlop.</p>
            </div>
        </div>

