@page "/leave"
@namespace ZarzadzanieUrlopami.Pages
@layout MainLayout

@inject AuthenticationStateProvider AuthProvider



<div class="title-div">
	<PageTitle>Formularze o urlop</PageTitle>
</div>
<div class="main-div">

</div>

