.main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    height: 600px;
     background-image: url("images/login4.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówek formularza */
#login h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}



/* Stylizacja przycisku */
button.btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(45deg, #41c4ee, #90c7ef);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button.btn:hover {
        background: linear-gradient(45deg, #183d5d, #336a9a);
    }




