@page "/login"
@using ZarzadzanieUrlopami.Models
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject ZarzadzanieUrlopami.Data.UrlopyDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider


 <div class="main">
         <div id="login" class="section">
                <h2> Logowanie uzytkowników </h2>
                           </div>
            
                <img src="images/user2.png" alt="Login Image" class="login-image">
            


<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
   @*  <ValidationSummary class="validation-errors" /> *@

    <ValidationSummary />

    <div class="form-group">
         <i class="fas fa-user"></i>
        <label>Email:</label>
        <InputText class="form-control" @bind-Value="loginModel.Email"  type="email" />
    </div>
    <div class="form-group">
        <i class="fas fa-lock"></i>
        <label>Hasło:</label>
        <InputText class="form-control"  @bind-Value="loginModel.Password" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div  class="alert alert-danger">@errorMessage</div>
}


</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage;

    private async Task HandleLogin()
    {
        var user = await DbContext.Pracownicies
            .Include(u => u.IdRoliNavigation)
            .FirstOrDefaultAsync(u => u.Mail == loginModel.Email);

        if (user == null || user.Haslo != loginModel.Password)
        {
            errorMessage = "Nieprawidłowy email lub hasło.";
            return;
        }

        // Pobierz dane do Claims
        var email = user.Mail ?? "";
        var rola = user.IdRoliNavigation?.Nazwa ?? "BrakRoli";
        var imie = user.Imie ?? "";

        // Rzutujemy do naszego customowego AuthProvidera
        if (AuthenticationStateProvider is CustomAuthenticationStateProvider customAuthStateProvider)
        {
            customAuthStateProvider.MarkUserAsAuthenticated(email, rola, imie);
        }

        NavigationManager.NavigateTo("/");
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Email jest wymagany")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Hasło jest wymagane")]
        public string Password { get; set; }
    }
}
