@page "/login"  // Ustala adres URL strony jako /login
@using ZarzadzanieUrlopami.Models
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager  // Wstrzyknięcie serwisu do nawigacji
@inject ZarzadzanieUrlopami.Data.UrlopyDbContext DbContext  // Wstrzyknięcie kontekstu bazy danych
@inject AuthenticationStateProvider AuthenticationStateProvider  // Wstrzyknięcie providera uwierzytelnienia

<div class="main">
    <div id="login" class="section">
        <h2> Logowanie użytkowników </h2>
    </div>

    <img src="images/user2.png" alt="Login Image" class="login-image" />

    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        @* Formularz logowania *@
        <DataAnnotationsValidator /> @* Umożliwia walidację adnotacji *@
        <ValidationSummary /> @* Wyświetla błędy walidacji *@

        <div class="form-group">
            <i class="fas fa-user"></i>
            <label>Email:</label>
            <InputText class="form-control" @bind-Value="loginModel.Email" type="email" />
        </div>

        <div class="form-group">
            <i class="fas fa-lock"></i>
            <label>Hasło:</label>
            <InputText class="form-control" @bind-Value="loginModel.Password" type="password" />
        </div>

        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </EditForm>

    @* Wyświetlenie błędu, jeśli wystąpił *@
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage;

    private async Task HandleLogin()
    {
        // Pobranie użytkownika z bazy danych po adresie email
        var user = await DbContext.Pracownicies
            .Include(u => u.IdRoliNavigation)
            .FirstOrDefaultAsync(u => u.Mail == loginModel.Email);

        // Sprawdzenie poprawności danych logowania przy użyciu haszowania
        var passwordService = new ZarzadzanieUrlopami.Service.PasswordService();

        if (user == null || !passwordService.VerifyPassword(user.HasloHash, loginModel.Password))
        {
            errorMessage = "Nieprawidłowy email lub hasło.";
            return;
        }

        // Pobranie danych użytkownika do tokena uwierzytelniającego
        var email = user.Mail ?? "";
        var rola = user.IdRoliNavigation?.Nazwa ?? "BrakRoli";
        var imie = user.Imie ?? "";

        // Ustawienie użytkownika jako zalogowanego
        if (AuthenticationStateProvider is CustomAuthenticationStateProvider customAuthStateProvider)
        {
            customAuthStateProvider.MarkUserAsAuthenticated(email, rola, imie);
        }

        NavigationManager.NavigateTo("/");
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Email jest wymagany")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Hasło jest wymagane")]
        public string Password { get; set; }
    }
}

