.zmiana {
    background-color: #BBC6C8 !important;
}

.urlop {
    background-color: #015366 !important;
}

.zwolnienie{
    background-color: #DDBEAA !important;
}

.zastepstwo {
    background-color: #5BA199 !important;
}


td.dzisiaj {
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: white; 
    z-index: 1;
    font-weight: normal; 
}

    td.dzisiaj::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 26px;
        height: 26px;
        background-color: #46ACC2; 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }