.zmiana
{
    background-color: forestgreen !important;
}

.urlop {
    background-color: red !important;
}

.zwolnienie{
    background-color: gold !important;
}

.zastepstwo{
    background-color: darkblue !important;
}

.dzisiaj {
    color: red !important;
}