.navbar-toggler[b-z70xljar8t] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z70xljar8t] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z70xljar8t] {
    font-size: 1.1rem;
}

.oi[b-z70xljar8t] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.text-muted[b-z70xljar8t] {
    font-size: 0.85rem;
}


.logo[b-z70xljar8t] {
    position: absolute;
    left: 65px;
    top: 9%;
    transform: translateY(-50%);
    height: 12%;
    margin-bottom: 20px;
    text-align: center;
}



.flex-column[b-z70xljar8t]{
    padding-top: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


.nav-item[b-z70xljar8t] {
    font-size: 0.9rem;
    padding: 0.25rem 0;
    padding-bottom: 0.5rem;

    /*box-sizing: border-box;*/
}

    .nav-item:first-of-type[b-z70xljar8t] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z70xljar8t] {
        padding-bottom: 1rem;
    }
/*
    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }



.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}*/



    .nav-item[b-z70xljar8t]  a {
        background-color: #46ACC2;
        color: white;
        border-radius: 8px;
        width: 100%;
        height: 3rem;
        min-width: 100px; /* Dodatkowe zabezpieczenie przed zaw�eniem */
        padding: 0 1rem; /* Zapewnia troch� przestrzeni po bokach */
        display: flex;
        align-items: center;
       /* justify-content: center;*/
        /*line-height: 3rem;*/
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        white-space: nowrap; /* Zapobiega zawijaniu si� tekstu */
        padding: 0;
    }

        .nav-item[b-z70xljar8t]  a:hover {
            background-color: #50cbe5ff;
            color: white;
            text-decoration: none;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
        }

        .nav-item[b-z70xljar8t]  a.active {
            background-color: #031f3c;
            color: white;
        }

        .nav-link[b-z70xljar8t] {
    display: flex;
    align-items: center
        }

