.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 70%;*/
  /* Odejmujemy szerokoœæ sidebaru */
/*}*/


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e6f7fb;
    flex-grow: 1;
    flex-direction: column;
    height: 70%;
    /*height: calc(100vh - 60px);*/
}
.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}


.container {
    flex-grow: 1;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.decorative-bar {
    background-color: #46ACC2;
    height: 2%;
    width: 100%;
    border-radius: 0 0 10px 10px;
}


/*.container {
    width: calc(100% - 250px);
    height: 1200px;
}*/

/*.header{
    height: 10%;
}*/
.header {
    background-color: #1e3a59;
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 25px;
    position: relative;
    border-radius: 10px 10px 0 0;
    width: 100%;
    line-height: 1.2;
}

/*.decorative-bar {
    height: 10%;
}
*/
/*.footer {
    background-color: red;
    width: fit-content;
    height: 10%;
}*/

.footer {
    background-color: #46ACC2;
    color: white;
   /* padding: 20px 0;*/
   /* text-align: center;
    font-size: 18px;*/
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 2%;
}
    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.circle, .ring {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.6;
}

    /* Poprawione rozmieszczenie kó³ek */

    .circle.circle-1 {
        width: 150px;
        height: 150px;
        left: -5%;
        top: 20%;
    }

    .circle.circle-2 {
        background-color: #46ACC2;
        width: 130px;
        height: 130px;
        right: 2%;
        top: 18%;
    }

    .circle.circle-3 {
        background-color: #1c3757;
        width: 180px;
        height: 180px;
        left: 3%;
        bottom: 10%;
    }

    .ring.ring-1 {
        width: 100px;
        height: 100px;
        right: 6%;
        top: 7%;
    }

    .ring.ring-2 {
        width: 160px;
        height: 160px;
        left: 8%;
        bottom: 12%;
    }

    .ring.ring-3 {
        border: 10px solid #3f6f7a;
        width: 140px;
        height: 140px;
        right: -5%;
        top: 75%;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

/*@media (min-width: 641px) {
    .page {
        flex-direction: row;
        position: sticky;
    }

    .sidebar {
       width: 250px;
        height: 100vh;
       position:page;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/
