@inherits LayoutComponentBase

<div class="page">
<div class="sidebar">
    <NavMenu />
</div>

<div class="container">


    <div class="header">
        <p>Zarządzanie Urlopami</p>
    </div>


@*     <div class="nav-links">
        <NavLink class="nav-link" href="/" data-section="home">Strona główna</NavLink>
        <NavLink class="nav-link" href="/login" data-section="employees">Pracownicy</NavLink>
        <NavLink class="nav-link" href="/schedule" data-section="schedule">Grafik</NavLink>
        <NavLink class="nav-link" href="/leave" data-section="leave">Podania o urlop</NavLink>
        <NavLink class="nav-link" href="admin/pracownicy" data-section="admin">Zarządzanie Pracownikami</NavLink>
        <NavLink class="nav-link" href="admin/typy_urlopow" data-section="admin">Typy Urlopów</NavLink>
    </div>  *@

    <div class="decorative-bar"></div>

    <div class="main">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="ring ring-1"></div>
        <div class="ring ring-2"></div>
        <div class="ring ring-3"></div>
        @Body
    </div>

    <footer class="footer">
     @*   <p> HELLOOOOOOOOO</p> *@
    </footer>
</div>
</div>

