.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.text-muted {
    font-size: 0.85rem;
}

/*
.logo {
    position: absolute;
    left: 65px;
    top: 9%;
    transform: translateY(-50%);
    height: 100px;
    width : 100px;
    margin-bottom: 20px;
    text-align: center;
}
*/

.logo {
    position: absolute;
    top: 20px; /*  sta³a odleg³oœæ od góry */
    left: 50%; /*  wyœrodkowanie poziome */
    transform: translateX(-50%); /*  tylko poziome przesuniêcie! */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 8px 3px #031f3c;
    display: block;
}


.flex-column{
    padding-top: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


.nav-item {
    font-size: 0.9rem;
    padding: 0.25rem 0;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }




    .nav-item ::deep a {
        background-color: #46ACC2;
        color: white;
        border-radius: 8px;
        width: 100%;
        height: 3rem;
        min-width: 100px; 
        padding: 0 1rem; 
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        white-space: nowrap; 
        padding: 0;
    }

        .nav-item ::deep a:hover {
            background-color: #50cbe5ff;
            color: white;
            text-decoration: none;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
        }

        .nav-item ::deep a.active {
            background-color: #031f3c;
            color: white;
        }

        .nav-link {
    display: flex;
    align-items: center
        }

/*sdreni kontrast*/
.medium-contrast .nav-item ::deep a {
    background-color: #ddd !important;
    color: #000 !important;
}

    .medium-contrast .nav-item ::deep a.active {
        background-color: #aaa !important;
        color: #000 !important;
    }

/*duzy kotrast*/
.high-contrast .nav-item ::deep a {
    background-color: #000 !important;
    color: yellow !important;
}

    .high-contrast .nav-item ::deep a.active {
        background-color: yellow !important;
        color: black !important;
    }

.high-contrast .sidebar .logo {
    box-shadow: 0 0 8px 3px yellow;
    /* border: 3px solid yellow; 
    padding: 10px;
    border-radius: 50%; 
    display: inline-block*/
}
