<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ZarzadzanieUrlopami</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-link">
            <NavLink class="nav-item" href="/" data-section="home">Strona główna</NavLink>
            <NavLink class="nav-item" href="/login" data-section="employees">Pracownicy</NavLink>
            <NavLink class="nav-item" href="/schedule" data-section="schedule">Grafik</NavLink>
            <NavLink class="nav-item" href="/leave" data-section="leave">Podania o urlop</NavLink>
            <NavLink class="nav-item" href="admin/pracownicy" data-section="admin">Zarządzanie Pracownikami</NavLink>
            <NavLink class="nav-item" href="admin/typy_urlopow" data-section="admin">Typy Urlopów</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
