@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="images/logo3.png" alt="Logo" class="logo">
            </span>
        </div>
    </header>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </div>
        @if (role == "brak roli")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Logowanie
                </NavLink>
            </div>
        }
        @if (role != "brak roli")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/schedule">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Grafik
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/leave">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Podania o urlopy
                </NavLink>
            </div>
        }
        @if (role == "Kierownik" || role == "Administrator")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/schedule-shifts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Układanie grafiku
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/reports">
                    <span class="oi oi-bar-chart"></span> Raporty
                </NavLink>
            </div>
        }
        @if (role == "Administrator")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/pracownicy">
                    <span class="oi oi-people"></span> Zarządzanie Pracownikami
                </NavLink>
            </div>
        }


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private ClaimsPrincipal? user;
    private string role = "brak roli";


    protected override async Task OnInitializedAsync()
    {
        AuthProvider.AuthenticationStateChanged += OnAuthStateChanged;
        await UpdateUserAsync();
    }

    private async void OnAuthStateChanged(Task<AuthenticationState> task)
    {
        await UpdateUserAsync();
        StateHasChanged(); // odświeżenie komponentu po zmianie
    }

    private async Task UpdateUserAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        user = authState.User;

        // odczytaj dane, np. rolę
        role = user.FindFirst(ClaimTypes.Role)?.Value ?? "brak roli";
    }


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        AuthProvider.AuthenticationStateChanged -= OnAuthStateChanged;
    }
}
